h1 {
    color: rgb(77, 17, 17);
    background-color: blue;
               
  }
  h2 {
    color: rgb(93, 255, 171);
    background-color: blanchedalmond;
  }
  h3 {
    color: rgb(21, 103, 146);
    background-color: darkmagenta;
  }
  body {
    background-color: rgb(21, 52, 26);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }